body, html
{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
	background: rgb(231, 235, 240) none repeat scroll 0% 0%;;
	color: #000;
}

.wrapper
{
	width: 100%;
	height: 100%;
}


.section
{
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
}

.section_hidden
{
	left: -99999999px;
}

.section_active
{
	left: 0;
	z-index: 1000;
}


.table
{
	display: table;
	width: 100%;
	height: 100%;

}

.table__cell
{
	display: table-cell;
	vertical-align: middle;
}

.table__content
{
	padding: 5px;
}

.table__content_center
{
	width: 300px;
	margin: 0 auto;
}


#login__section
{
	background: #fff;
	color: #000;
}

.tg__logo
{
	display: block;
	margin: 15px auto;
	width: 150px;
}

/* ----- Inputs ----- */

.input-block
{
	display: block;
	margin: 5px auto;
	width: 290px;
	border: 1px solid #cdc7c2;
	border-radius: 5px;
	background: #fff;
}

.input-block_focus
{
	border-color: #33aadf;
}

.input-block__content
{
	padding: 10px 15px;
}

.input-block__text
{
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	background: inherit;

}

.input-block__value
{
	display: inline-block;
	vertical-align: middle;
	width: 90%;
}

.input-block__arrow
{
	display: inline-block;
	vertical-align: middle;
	width: 8%;
}

.input-block__value_placeholder
{
	color: #8f7787;
	cursor: default;
}

.input-block__options
{
	position: absolute;
	background: #fff;
	width: 290px;
	margin-top: 5px;
	margin-left: -16px;
	height: 130px;
	overflow: auto;
	border: 1px solid #cdc7c2;
	border-top: 0;
	border-radius: 0 0 5px 5px;
}

.input-block__options_hidden
{
	left: -99999999px;
}

.input-block__option
{
	display: block;
	border-bottom: 1px solid #cdc7c2;
	padding: 5px;
}

.input-block__option:last-of-type
{
	border: 0;
}

.input-block__option:hover, .input-block__option_active
{
	background: #f4f4f4;
}

.input-block__option-radio
{
	display: none;
}

.input-block__option-img
{
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}

/* ----- P ----- */

.p
{
	padding: 5px;
}

.p_header
{
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

.p_center
{
	text-align: center;
}

.p_gray
{
	color: #777;
}

/* ----- Checkboxes ----- */

.checkbox
{
	border: 1px solid #cdc7c2;
	border-radius: 15%;
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
	background: #fcfbfb;
	overflow: hidden;
}

.checkbox__dot
{
	width: 100%;
	height: 100%;
	border-radius: inherit;
	display: table;
	vertical-align: middle;
}

.checkbox__dot_active
{
	background-color: #33aadf;
}

.checkbox__dot-img
{
	display: table-cell;
	opacity: 0.0;
}

.checkbox__dot-img_active
{
	width: 100%;
	opacity: 1.0;
}

.checkbox__input
{
	display: none;
}